:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  --rpx: 100vw / 400;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

* button{
  border:none;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: calc(430 * var(--rpx));
  height: calc(917 * var(--rpx));
  margin: 0 auto;
  background: #000000;
  overflow: hidden;
}
.flex-row-ba {
  position: relative;
  width: calc(372 * var(--rpx));
  height: calc(22 * var(--rpx));
  margin: calc(54 * var(--rpx)) 0 0 calc(31 * var(--rpx));
  z-index: 14;
}



.switcher {
  display: flex;
  position: absolute;
  background-color: #f0f0f0;
  padding: 5px;
  top: 0;
  justify-content: space-between;
  left: calc(121 * var(--rpx));
  width: calc(119 * var(--rpx));
  height: calc(22 * var(--rpx));
  top: 0;
  left: calc(121 * var(--rpx));
  background: #404040;
  z-index: 2;
  overflow: hidden;
  border-radius: calc(12 * var(--rpx));
}

.option {
  flex: 1;
  text-align: center;
  padding: 10px 0;

  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  border-radius: calc(12 * var(--rpx));
  color: #959595;



  font-family: Montserrat, var(--default-font-family);
  transition: background-color 0.3s;
  transition: color 0.2s;

  font-size: calc(10 * var(--rpx));
  font-weight: 400;
  line-height: calc(12 * var(--rpx));
  text-align: center;

  
  z-index: 5;
  white-space: nowrap;

}

.option.selected {
  background-color: #545454;
  color: #ffffff;
}





.regroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 12.1%;
  height: 100%;
  top: 0;
  left: 87.9%;
  z-index: 14;
}
.group {
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  width: calc(16 * var(--rpx));
  height: calc(17 * var(--rpx));
  background: url(../assets/images/bell_icon.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 14;
}
.group:active{
  transform: scale(0.95);
}
.vector {
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  width: calc(17 * var(--rpx));
  height: calc(17 * var(--rpx));
  background: url(../assets/images/59189132-5105-4a84-86c4-cb82dd008cd2.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 6;
}

.vector:active{
  transform: scale(0.95);
}
.icon {
  position: absolute;
  cursor: pointer;
  width: calc(18 * var(--rpx));
  height: calc(14 * var(--rpx));
  top: calc(5 * var(--rpx));
  left: calc(-1 * var(--rpx));
  background: url(../assets/images/579432ce-68be-4917-ac3c-d7381510422d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 1;
}

.icon:active{
  transform: scale(0.95);
}
.rectangle-2 {
  position: relative;
  width: calc(376 * var(--rpx));
  height: calc(120 * var(--rpx));
  margin: calc(34 * var(--rpx)) 0 0 calc(27 * var(--rpx));
  background: #1e1e1e;
  z-index: 10;
  overflow: visible auto;
  border-radius: calc(34 * var(--rpx));
}
.flex-row-c {
  position: relative;
  width: calc(200.9765625 * var(--rpx));
  height: calc(18 * var(--rpx));
  margin: calc(30 * var(--rpx)) 0 0 calc(35 * var(--rpx));
  z-index: 98;
}
.wallet-c-account {
  position: absolute;
  width: calc(144.75999450683594 * var(--rpx));
  height: calc(18 * var(--rpx));
  top: 0;
  left: calc(28.920166015625 * var(--rpx));
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 700;
  line-height: calc(18 * var(--rpx));
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 11;
}
.wallet-c {
  position: relative;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 600;
  line-height: calc(18.28499984741211 * var(--rpx));
  text-align: left;
}
.empty {
  position: relative;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 600;
  line-height: calc(18.28499984741211 * var(--rpx));
  text-align: left;
}
.account {
  position: relative;
  color: #6d6d6d;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 600;
  line-height: calc(18.28499984741211 * var(--rpx));
  text-align: left;
}
.vector-3 {
  position: absolute;
  width: 7.45%;
  height: 83.2%;
  top: 0;
  left: 92.55%;
  background: url(../assets/images/b96e3356-4bba-4189-8f08-a079f58765bb.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 15;
}

.vector-3:active{
  transform: scale(0.95);
}
.image {
  position: absolute;
  top: calc(1 * var(--rpx));
  right: calc(184.9765625 * var(--rpx));
  bottom: calc(1 * var(--rpx));
  left: 0;
  background: url(../assets/images/80478eb6-a060-450f-84a1-8e63ad7114bc.png)
    no-repeat center;
  background-size: cover;
  z-index: 98;
  overflow: hidden;
  border-radius: calc(100 * var(--rpx));
}
.flex-row-fe {
  position: relative;
  width: calc(191.7604522705078 * var(--rpx));
  height: calc(38 * var(--rpx));
  margin: calc(9 * var(--rpx)) 0 0 calc(51.69970703125 * var(--rpx));
  z-index: 13;
}
.comma {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(38 * var(--rpx));
  top: 0;
  left: calc(12.220458984375 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(35 * var(--rpx));
  font-weight: 500;
  line-height: calc(38 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  letter-spacing: calc(5.25 * var(--rpx));
  z-index: 13;
}
.dollar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(18 * var(--rpx));
  top: calc(13 * var(--rpx));
  left: 0;
  color: #fffdfd;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(20 * var(--rpx));
  font-weight: 500;
  line-height: calc(18 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.flex-row-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: calc(375 * var(--rpx));
  height: calc(39 * var(--rpx));
  margin: calc(33 * var(--rpx)) 0 0 calc(28 * var(--rpx));
  z-index: 94;
}
.rectangle-4 {
  flex-shrink: 0;
  position: relative;
  transition: background-color 0.3s ease, transform 0.1s ease;
  width: calc(110 * var(--rpx));
  height: calc(39 * var(--rpx));
  background: #1e1e1e;
  cursor: pointer;
  z-index: 88;
  border-radius: calc(12 * var(--rpx));
}
.rectangle-4:hover{
  background-color: #2b2b2b;
}
.rectangle-4:active{
  background-color: #2b2b2b; /* Цвет фона при нажатии */
  transform: scale(0.95);
}
.ellipse {
  position: absolute;
  width: calc(30 * var(--rpx));
  height: calc(30 * var(--rpx));
  top: calc(5 * var(--rpx));
  left: calc(10 * var(--rpx));
  background: url(../assets/images/3a787938-01a0-45b8-82a7-3ac7d67c7022.png)
    no-repeat center;
  background-size: cover;
  z-index: 89;
  border-radius: 50%;
}
.receive {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(15 * var(--rpx));
  top: calc(12 * var(--rpx));
  left: calc(50 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(12 * var(--rpx));
  font-weight: 600;
  line-height: calc(14.628000259399414 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 90;
}
.icon-5 {
  position: absolute;
  width: 14.55%;
  height: 46.15%;
  top: 28.21%;
  left: 15.45%;
  background: url(../assets/images/7fe67cb4-4307-4eb5-9b1b-5f90c9a1ca18.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 91;
}
.rectangle-6 {
  flex-shrink: 0;
  position: relative;
  width: calc(110 * var(--rpx));
  height: calc(39 * var(--rpx));
  background: #1e1e1e;
  cursor: pointer;
  z-index: 82;
  border-radius: calc(12 * var(--rpx));
}
.rectangle-6:hover{
  background-color: #2b2b2b;
}
.rectangle-6:active{
  background-color: #2b2b2b; /* Цвет фона при нажатии */
  transform: scale(0.95);
}
.ellipse-7 {
  position: absolute;
  width: calc(30 * var(--rpx));
  height: calc(30 * var(--rpx));
  top: calc(5 * var(--rpx));
  left: calc(10 * var(--rpx));
  background: url(../assets/images/a0d73815-d068-4dda-bc0d-e1f1de34d058.png)
    no-repeat center;
  background-size: cover;
  z-index: 83;
  border-radius: 50%;
}
.send {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(15 * var(--rpx));
  top: calc(12 * var(--rpx));
  left: calc(50 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(12 * var(--rpx));
  font-weight: 600;
  line-height: calc(14.628000259399414 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 84;
}
.icon-8 {
  position: absolute;
  width: calc(16 * var(--rpx));
  height: calc(18 * var(--rpx));
  top: calc(11 * var(--rpx));
  left: calc(17 * var(--rpx));
  background: url(../assets/images/3e0cb285-dfe2-4c56-82a6-49e47f077b18.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 86;
}
.rectangle-9 {
  flex-shrink: 0;
  position: relative;
  width: calc(110 * var(--rpx));
  height: calc(39 * var(--rpx));
  background: #1e1e1e;
  cursor: pointer;
  z-index: 94;
  border-radius: calc(12 * var(--rpx));
}
.rectangle-9:hover{
  background-color: #2b2b2b;
}
.rectangle-9:active{
  background-color: #2b2b2b; /* Цвет фона при нажатии */
  transform: scale(0.95);
}
.ellipse-a {
  position: absolute;
  width: calc(30 * var(--rpx));
  height: calc(30 * var(--rpx));
  top: calc(5 * var(--rpx));
  left: calc(10 * var(--rpx));
  background: url(../assets/images/f3f1b2ba-52d1-4afb-87ad-59b39718bded.png)
    no-repeat center;
  background-size: cover;
  z-index: 95;
  border-radius: 50%;
}
.swap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(15 * var(--rpx));
  top: calc(12 * var(--rpx));
  left: calc(50 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(12 * var(--rpx));
  font-weight: 600;
  line-height: calc(14.628000259399414 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 96;
}
.vector-b {
  position: absolute;
  width: 16.36%;
  height: 41.03%;
  top: 30.77%;
  left: 13.64%;
  background: url(../assets/images/1e0263ca-de6e-4381-a6c3-47b40197f9cc.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 97;
}
.dekor {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: calc(225 * var(--rpx));
  height: calc(41 * var(--rpx));
  margin: calc(35 * var(--rpx)) 0 0 calc(107 * var(--rpx));
  background: rgba(84, 84, 84, 0);
  border: calc(1 * var(--rpx)) solid #afacac;
  z-index: 80;
  border-radius: calc(20 * var(--rpx));
}
.crypto {
  flex-shrink: 0;
  position: relative;
  height: calc(18 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 500;
  line-height: calc(18 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 80;
}
.flex-row-e {
  position: relative;
  width: calc(375 * var(--rpx));
  height: calc(32 * var(--rpx));
  margin: calc(32 * var(--rpx)) 0 0 calc(34 * var(--rpx));
  z-index: 22;
}
.eth {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(39 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.dot {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(301 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.picture-eth {
  position: absolute;
  top: calc(1 * var(--rpx));
  right: calc(345 * var(--rpx));
  bottom: calc(1 * var(--rpx));
  left: 0;
  background: url(../assets/images/aedd0267-49b2-42b7-9e57-a0085377abac.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
  overflow: hidden;
  border-radius: calc(17 * var(--rpx));
}
.dollar-c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(39 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.percentage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(92 * var(--rpx));
  color: #26de5b;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.dollar-d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(301 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.flex-row-ec {
  position: relative;
  width: calc(365 * var(--rpx));
  height: calc(32 * var(--rpx));
  margin: calc(25 * var(--rpx)) 0 0 calc(34 * var(--rpx));
  z-index: 43;
}
.text-11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(39 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.text-12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(301 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 39;
}
.img-7 {
  position: absolute;
  top: calc(1 * var(--rpx));
  right: calc(335 * var(--rpx));
  bottom: calc(1 * var(--rpx));
  left: 0;
  background: url(../assets/images/5e8ff3d0-28b9-4c70-8038-9bc4f4b82dec.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
  overflow: hidden;
  border-radius: calc(17 * var(--rpx));
}
.text-13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(39 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.text-14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(82 * var(--rpx));
  color: #26de5b;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 42;
}
.text-15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(301 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}
.wrapper-6 {
  position: relative;
  width: calc(344 * var(--rpx));
  height: calc(30 * var(--rpx));
  margin: calc(25 * var(--rpx)) 0 0 calc(34 * var(--rpx));
  z-index: 64;
}
.text-16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(301 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 60;
}
.wrapper-7 {
  position: absolute;
  top: 0;
  right: calc(257 * var(--rpx));
  bottom: 0;
  left: 0;
  z-index: 64;
}
.img-8 {
  position: absolute;
  top: 0;
  right: calc(57 * var(--rpx));
  bottom: 0;
  left: 0;
  background: url(../assets/images/02b89d14-2217-4c22-a92d-621a0bee85db.png)
    no-repeat center;
  background-size: cover;
  z-index: 64;
  overflow: hidden;
  border-radius: calc(17 * var(--rpx));
}
.text-17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(39 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 59;
}
.box-2 {
  position: relative;
  width: calc(296 * var(--rpx));
  height: calc(12 * var(--rpx));
  margin: calc(-10 * var(--rpx)) 0 0 calc(73 * var(--rpx));
  z-index: 63;
}
.text-18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: 0;
  left: calc(262 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 62;
}
.box-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: calc(80 * var(--rpx));
  height: calc(12 * var(--rpx));
  top: 0;
  left: 0;
  z-index: 63;
}
.text-19 {
  flex-shrink: 0;
  position: relative;
  height: calc(12 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 61;
}
.text-1a {
  flex-shrink: 0;
  position: relative;
  height: calc(12 * var(--rpx));
  color: #b81b1b;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 63;
}
.box-4 {
  position: relative;
  width: calc(375 * var(--rpx));
  height: calc(32 * var(--rpx));
  margin: calc(25 * var(--rpx)) 0 0 calc(34 * var(--rpx));
  z-index: 29;
}
.text-1b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(39 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.text-1c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(301 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.pic-7 {
  position: absolute;
  top: calc(1 * var(--rpx));
  right: calc(345 * var(--rpx));
  bottom: calc(1 * var(--rpx));
  left: 0;
  background: url(../assets/images/2ee032bb-aa52-4fba-80a1-258aafbe2241.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
  overflow: hidden;
  border-radius: calc(17 * var(--rpx));
}
.text-1d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(39 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.text-1e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(92 * var(--rpx));
  color: #26de5b;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.span-dollar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(301 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 28;
}
.div-flex-row-b {
  position: relative;
  width: calc(365 * var(--rpx));
  height: calc(32 * var(--rpx));
  margin: calc(25 * var(--rpx)) 0 0 calc(34 * var(--rpx));
  z-index: 50;
}
.span-usdt {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(39 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 45;
}
.span-dot {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(301 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 46;
}
.div-picture-type-png {
  position: absolute;
  top: calc(1 * var(--rpx));
  right: calc(335 * var(--rpx));
  bottom: calc(1 * var(--rpx));
  left: 0;
  background: url(../assets/images/196d326b-069f-4e1c-ab9c-54d6b3d85746.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
  overflow: hidden;
  border-radius: calc(17 * var(--rpx));
}
.span-dollar-e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(39 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 47;
}
.span-percent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(82 * var(--rpx));
  color: #26de5b;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 49;
}
.span-dollar-f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(301 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 48;
}
.div-flex-row-d {
  position: relative;
  width: calc(344 * var(--rpx));
  height: calc(30 * var(--rpx));
  margin: calc(25 * var(--rpx)) 0 0 calc(34 * var(--rpx));
  z-index: 71;
}
.span-dot-10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(301 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 67;
}
.div-regroup {
  position: absolute;
  top: 0;
  right: calc(257 * var(--rpx));
  bottom: 0;
  left: 0;
  z-index: 71;
}
.div-picture-usdc {
  position: absolute;
  top: 0;
  right: calc(57 * var(--rpx));
  bottom: 0;
  left: 0;
  background: url(../assets/images/6e75cdd2-c16d-466f-a8b6-f089c9895cb5.png)
    no-repeat center;
  background-size: cover;
  z-index: 71;
  overflow: hidden;
  border-radius: calc(17 * var(--rpx));
}
.span-usdc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(39 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 66;
}
.div-flex-row-eaa {
  position: relative;
  width: calc(296 * var(--rpx));
  height: calc(12 * var(--rpx));
  margin: calc(-10 * var(--rpx)) 0 0 calc(73 * var(--rpx));
  z-index: 70;
}
.span-dollar-11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: 0;
  left: calc(262 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 69;
}
.div-regroup-12 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: calc(80 * var(--rpx));
  height: calc(12 * var(--rpx));
  top: 0;
  left: 0;
  z-index: 70;
}
.span-dollar-13 {
  flex-shrink: 0;
  position: relative;
  height: calc(12 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 68;
}
.span-percent-negative {
  flex-shrink: 0;
  position: relative;
  height: calc(12 * var(--rpx));
  color: #b81b1b;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 70;
}
.div-flex-row {
  position: relative;
  width: calc(375 * var(--rpx));
  height: calc(32 * var(--rpx));
  margin: calc(25 * var(--rpx)) 0 0 calc(34 * var(--rpx));
  z-index: 36;
}
.span-eth {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(39 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.span-dot-14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(301 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.div-picture-eth {
  position: absolute;
  top: calc(1 * var(--rpx));
  right: calc(345 * var(--rpx));
  bottom: calc(1 * var(--rpx));
  left: 0;
  background: url(../assets/images/96d147b3-e867-4ba0-9447-437de8d37fd0.png)
    no-repeat center;
  background-size: cover;
  z-index: 31;
  overflow: hidden;
  border-radius: calc(17 * var(--rpx));
}
.dollar-amount {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(39 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.percentage-15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(92 * var(--rpx));
  color: #26de5b;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.dollar-amount-16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(301 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.flex-row-a-17 {
  position: relative;
  width: calc(365 * var(--rpx));
  height: calc(32 * var(--rpx));
  margin: calc(25 * var(--rpx)) 0 0 calc(34 * var(--rpx));
  z-index: 57;
}
.currency {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(39 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.decimal-number {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(301 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
.picture-type-png {
  position: absolute;
  top: calc(1 * var(--rpx));
  right: calc(335 * var(--rpx));
  bottom: calc(1 * var(--rpx));
  left: 0;
  background: url(../assets/images/75430ed9-1c7c-46c2-b056-af8d75a2493b.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
  overflow: hidden;
  border-radius: calc(17 * var(--rpx));
}
.dollar-amount-18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(39 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}
.percentage-19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(82 * var(--rpx));
  color: #26de5b;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 56;
}
.dollar-amount-1a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(301 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 55;
}
.flex-row-c-1b {
  position: relative;
  width: calc(344 * var(--rpx));
  height: calc(30 * var(--rpx));
  margin: calc(25 * var(--rpx)) 0 0 calc(34 * var(--rpx));
  z-index: 78;
}
.decimal-number-1c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(301 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 74;
}
.regroup-1d {
  position: absolute;
  top: 0;
  right: calc(257 * var(--rpx));
  bottom: 0;
  left: 0;
  z-index: 78;
}
.picture-usdc {
  position: absolute;
  top: 0;
  right: calc(57 * var(--rpx));
  bottom: 0;
  left: 0;
  background: url(../assets/images/ebe6042f-51cc-4a59-8ab4-49d7e0ef3b6e.png)
    no-repeat center;
  background-size: cover;
  z-index: 78;
  overflow: hidden;
  border-radius: calc(17 * var(--rpx));
}
.currency-1e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: 0;
  left: calc(39 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 73;
}
.flex-row-c-1f {
  position: relative;
  width: calc(296 * var(--rpx));
  height: calc(12 * var(--rpx));
  margin: calc(-10 * var(--rpx)) 0 0 calc(73 * var(--rpx));
  z-index: 77;
}
.dollar-amount-20 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(12 * var(--rpx));
  top: 0;
  left: calc(262 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 76;
}
.regroup-21 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: calc(80 * var(--rpx));
  height: calc(12 * var(--rpx));
  top: 0;
  left: 0;
  z-index: 77;
}
.dollar-amount-22 {
  flex-shrink: 0;
  position: relative;
  height: calc(12 * var(--rpx));
  color: #545454;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 75;
}
.negative-percentage {
  flex-shrink: 0;
  position: relative;
  height: calc(12 * var(--rpx));
  color: #b81b1b;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(10 * var(--rpx));
  font-weight: 600;
  line-height: calc(12 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 77;
}
